@import "components/switch";




// main-sidebar

.main-sidebar {
    .brand-image{
        float: none;
    }


    .user-panel{
        .info{
            i{
                font-size: 20px;
            }
        }
    }
}


.currency{
    &:after{
        content: " $ "
    }
}


